/* Coolors Exported Palette - coolors.co/e3e5d7-4a444f-cbc5b9-1c2329-e1e2db */

/* HSL */
$color1: hsla(69%, 21%, 87%, 1);
$color2: hsla(273%, 7%, 29%, 1);
$color3: hsla(40%, 15%, 76%, 1);
$color4: hsla(208%, 19%, 14%, 1);
$color5: hsla(69%, 11%, 87%, 1);

/* RGB */
$color1: rgba(227, 229, 215, 1);
$color2: rgba(74, 68, 79, 1);
$color3: rgba(203, 197, 185, 1);
$color4: rgba(28, 35, 41, 1);
$color5: rgba(225, 226, 219, 1);
$color6: rgba(139, 207, 177, 1)

#E1E2DB